<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We are learning EJS</title>
  </head>
  <body>
    <h1>EJS is Awesome Template Engine</h1>
    <p>
      Monotonectally visualize robust models before turnkey e-commerce.
      Dramatically generate real-time functionalities rather than highly
      efficient results. Seamlessly initiate multifunctional mindshare without
      impactful opportunities. Dynamically synthesize.
    </p>
    <%=new Date().toString() %>
  </body>
</html>
